body {
	background-color: #ccc;
	background-image: url(../images/backgrounds/main.jpg);
	background-position: top;
	background-repeat: repeat-x;
	font-family: Verdana, Helvetica, Sans-Serif;
	text-align: center;
}

#header {
	background-color: transparent;
	background-image: url(../images/backgrounds/header.png);
	background-position: top center;
	background-repeat: no-repeat;
	border: 1px solid #000;
	border-bottom: none;
	height: 100px;
	margin: 2em auto 0 auto;
	width: 800px;
}

#menu {
	background: url(../images/backgrounds/tabs.png) bottom repeat-x;
	float: right;
	margin-top: 74px;
	margin-right: 10px;
}

#menu li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu a {
	background: #f3f3f3;
	background-image: url(../images/backgrounds/tab.jpg);
	background-position: bottom;
	background-repeat: repeat-x;
	border: 1px solid #000;
	color: #666;
	float: left;
	line-height: 160%;
	margin-left: 4px;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
}

#menu a:link.current, #menu a:visited.current {
	background: #fff;
	background-image: none;
	border-bottom: 1px solid #fff;
	color: #000;
}

#menu a:hover { 
	background: #fff;
	background-image: url(../images/backgrounds/tab_hover.jpg);
	background-position: bottom;
	background-repeat: repeat-x;
	color: #333;
}

#menu img { vertical-align: -22%; }

#container {
	background-color: #fff;
	border: 1px solid #000;
	border-top: none;
	margin: 0 auto 1em auto;
	position: relative;
	text-align: left;
	width: 800px;
}

#login {
	font-size: 85%;
	padding: 5px;
}

/*
#login {
	background-color: #fff;
	height: 100px;
	padding: 5px;
	position: absolute;
	right: 0;
	top: 0;
	width: 220px;
}
*/

#content { 
	float: left;
	margin: 10px;
	width: 550px;
}

#sidebar { 
	float: left;
	margin: 10px;
	width: 210px;
}

#sidebar a { text-decoration: none; }
#sidebar h2, #sidebar h3 { font-family: Georgia, Verdana, Helvetica, Sans-Serif; }

#sidebar h2 { font-weight: bold; }

#sidebar h3 {
	border-bottom: 1px solid #000;
	font-weight: bold;
	margin-bottom: 0.25em;
}

#sidebar p { line-height: 1.25em; margin-left: 0.5em; }

#sidebar ul {
	margin-bottom: 1.5em;
	margin-left: 0.5em;
}

#sidebar ul li { 
	margin-bottom: 0.25em;
}

#sidebar .section {
	border: 1px solid #e3d165;
	background-color: #fff5b5;
	background-image: url(../images/backgrounds/sidebar_section.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	margin-bottom: 1.5em;
	padding: 5px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.error_block {
	background-color: #fcd3d3;
	border-bottom: 1px solid #d01515;
	border-top: 1px solid #d01515;
	color: #d01515;
	margin: 0.5em 0;
	padding: 4px 4px;
}

.error_block img {
	vertical-align: -21%;
}

.fieldWithErrors { display: inline; }

.fixed {
	font-family: Monaco, "Courier New", Monospace;
	font-size: 92%;
}

.grey { background-color: #eee; }

.layout_table td {
	padding-bottom: 3px;
	padding-right: 5px;
}

td.left { text-align: left; }
td.center { text-align: center; }
td.right { text-align: right; }

.submit {
	font-weight: bold;
	padding: 0 2px;
}