#header {
	background-image: url(../images/backgrounds/article_header.png);
}

#container a { color: #040; }
#container a:hover { color: #020; }

#login { 
	background-color: #040;
	border-bottom: 1px solid #020;
	color: #fff;
}

#login a { color: #fff; }

#content h1 {
	border-bottom: 1px solid #999;
	color: #040;
	font-family: Georgia, Verdana, Helvetica, Sans-Serif;
	font-size: 152%;
	margin-bottom: 0.5em;
}

.article { margin-bottom: 2em; }

.article p { margin-bottom: 1em; }

.article hr { 
	border: 0;
	background-color: #666;
	color: #666;
	height: 1px;
	width: 90%; 
}

.article code { font-size: 85%; }
.article pre {
	background-color: #efefef;
	font-size: 100%;
	margin-bottom: 1em;
	padding: 0.5em;
}

.article ul, .article ol { 
	margin-bottom: 1em;
	margin-left: 1.5em; 
}

.article ul li { list-style: disc; }

.article a.missing { color: #A79E8C !important; }
.article a.missing:hover { color: #700 !important; }

.article a.external { 
	background-color: transparent;
	background-image: url(../images/backgrounds/article_external.png);
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 7px;
}

.article_header h3 {
	border-bottom: 1px solid #999;
	color: #040;
	font-family: Georgia, Verdana, Helvetica, Sans-Serif;
	font-size: 152%;
}

.article_header a { text-decoration: none; }

.article_info { 
	color: #999;
	font-size: 77%;
	margin-top: -5px;
}

.article_summary {
	padding: 4px 4px 8px 4px;
}

.article_summary h2 { 
	border: none !important;
	font-size: 100%;
	font-weight: bold;
}

.article_summary h2 a { text-decoration: none; }

.article_tags {
	font-size: 85%;
	font-style: italic;
}

.article_tags a:link, .article_tags a:visited {
	text-decoration: none;
}
